/* Column sizes */

#TerminatedTableContainer .ColCampaign {
  width: 22%;
}
#TerminatedTableContainer .ColId {
  width: 16%;
}
#TerminatedTableContainer .ColInterviewer {
  width: 22%;
}
#TerminatedTableContainer .ColFinalizationDate {
  width: 14%;
}
#TerminatedTableContainer .ColContactOutcome {
  width: 8%;
}
#TerminatedTableContainer .ColReading {
  width: 8%;
}
#TerminatedTableContainer .ColAction {
  width: 10%;
}
