/* Column sizes */

#SUTable .ColCheckbox {
  width: 1%;
}

#SUTable .ColId {
  width: 6%;
}
#SUTable .ColInterviewer {
  width: 15%;
}

#SUTable .ColSsech {
  width: 4%;
}

#SUTable .ColDepartement {
  width: 6%;
}

#SUTable .ColCity {
  width: 15%;
}

#SUTable .ColState {
  width: 13%;
}

#SUTable .ColTotalReminders {
  width: 3%;
  min-width: 3rem;
}

#SUTable .ColLatestReminder {
  width: 7%;
}

#SUTable .ColContactOutcomeType {
  width: 10%;
}

#SUTable .ColContactOutcomeDate {
  width: 5%;
}