.ContactsLeftHeader{
  width: 30%;
}

.MailRow{
  background-color: white;
}

.ContactRow{
 width: 100%;
}

.DatesLeftHeader{
  width: 30%;
}

/* Column sizes */

#CampaignPortal .ColInterviewerName{
  width: 48%;
}
#CampaignPortal .ColIdep{
  width: 32%;
}
#CampaignPortal .ColUeNb{
  width: 20%;
}
